@import '~@angular/material/theming';
@include mat-core();

// .mat-button-toggle-checked {
//     background-color: red;
//     color: rgba(0, 0, 0, 0.54);
// }

$metro-purple: (
    50: #46196e,
    100: #46196e,
    200: #46196e,
    300: #46196e,
    400: #46196e,
    500: #46196e,
    600: #46196e,
    700: #46196e,
    800: #46196e,
    900: #46196e,
    A100: #46196e,
    A200: #46196e,
    A400: #46196e,
    A700: #46196e,
    contrast: (
        50: #fff,
        100: #fff,
        200: #fff,
        300: #fff,
        400: #fff,
        500: #fff,
        600: #fff,
        700: #fff,
        800: #fff,
        900: #fff,
        A100: #fff,
        A200: #fff,
        A400: #fff,
        A700: #fff,
    ),
);
$metro-gold: (
    50: #fa9d28,
    100: #fa9d28,
    200: #fa9d28,
    300: #fa9d28,
    400: #fa9d28,
    500: #fa9d28,
    600: #fa9d28,
    700: #fa9d28,
    800: #fa9d28,
    900: #fa9d28,
    A100: #fa9d28,
    A200: #fa9d28,
    A400: #fa9d28,
    A700: #fa9d28,
    contrast: (
        50: #fff,
        100: #fff,
        200: #fff,
        300: #fff,
        400: #fff,
        500: #fff,
        600: #fff,
        700: #fff,
        800: #fff,
        900: #fff,
        A100: #fff,
        A200: #fff,
        A400: #fff,
        A700: #fff,
    ),
);
$custom-warn: (
    50: #f44336,
    100: #f44336,
    200: #f44336,
    300: #f44336,
    400: #f44336,
    500: #f44336,
    600: #f44336,
    700: #f44336,
    800: #f44336,
    900: #f44336,
    A100: #f44336,
    A200: #f44336,
    A400: #f44336,
    A700: #f44336,
    contrast: (
        50: #fff,
        100: #fff,
        200: #fff,
        300: #fff,
        400: #fff,
        500: #fff,
        600: #fff,
        700: #fff,
        800: #fff,
        900: #fff,
        A100: #fff,
        A200: #fff,
        A400: #fff,
        A700: #fff,
    ),
);
// Default colors
$my-app-primary: mat-palette($metro-purple, 700, 100, 800);
$my-app-accent: mat-palette($metro-gold, 700, 100, 800);
$my-app-warn: mat-palette($custom-warn, 700, 100, 800);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@mixin mix-app-theme($my-app-theme) {
    $primary: map-get($my-app-theme, primary);
    $accent: map-get($my-app-theme, accent);
    // .mat-button-toggle-group,
    // .mat-button-toggle-standalone {
    // box-shadow: none !important;
    // border: 1px solid red;
    // }
    .mat-button-toggle {
        background-color: #fff;
        color: mat-color($primary);
    }
    .mat-button-toggle-checked {
        color: mat-color($accent, default-contrast);
        background-color: mat-color($primary);
    }
}
@include angular-material-theme($my-app-theme);
@include mix-app-theme($my-app-theme);
