<div>
    <div class="button-row">
        <button mat-flat-button color="primary">Primary</button>
        <button mat-flat-button color="accent">Accent</button>
        <button mat-flat-button color="warn">Warn</button>
    </div>
    <div class="button-row">
        <button mat-stroked-button color="primary">Primary</button>
        <button mat-stroked-button color="accent">Accent</button>
        <button mat-stroked-button color="warn">Warn</button>
    </div>
    <mat-button-toggle-group #group="matButtonToggleGroup">
        <mat-button-toggle value="one">
            One
        </mat-button-toggle>
        <mat-button-toggle value="two">
            Two
        </mat-button-toggle>
        <mat-button-toggle value="three">
            Three
        </mat-button-toggle>
    </mat-button-toggle-group>
</div>
